<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
            font-family: 'Courier New', Courier, monospace;
            background-color: rgb(19, 45, 36);
        }

        h2{
            color: white
        }
        h3{
            color:aquamarine
        }
    </style>
</head>
<body>
    <h2>Signature is invalid 👎</h2>
    <h3>Looks like it's forged!</h3>
</body>
</html>